[submodule "Submodules/Opus-iOS"]
	path = Submodules/Opus-iOS
	url = git@github.com:chrisballinger/Opus-iOS.git
[submodule "Submodules/MumbleKit"]
	path = Submodules/MumbleKit
	url = git@github.com:chrisballinger/mumblekit.git
[submodule "Submodules/EZAudio"]
	path = Submodules/EZAudio
	url = git@github.com:syedhali/EZAudio.git
[submodule "Submodules/TPCircularBuffer"]
	path = Submodules/TPCircularBuffer
	url = git@github.com:michaeltyson/TPCircularBuffer.git
